
<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="ai_trafo_mode" default="cb" doc="'cb' for colo balance only; 'both' for color balance and linear trafo"/>
	<arg name="ai_interval" default="5" doc="interval with which the linear trafo gets updated. color balance is performed every second."/>
	<arg name="verbose" default="false"/>

	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" default="true" />
		<!--arg name="verbose" value="$(arg verbose)" /-->
    	<arg name="/camera/raw" default="true" />
		<arg name="param_file_name" default="default" />
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="true" />
		<arg name="ai_trafo_mode" value="$(arg ai_trafo_mode)"/>
		<arg name="ai_interval" value="$(arg ai_interval)"/>
		<arg name="/lane_following/stop_line_filter" default="false" /> <!-- will not every allow a transition into COORDINATION mode -->
		<arg name="vehicle_avoidance" default="false"/>
	</include>
</launch>




<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="verbose" default="false"/>
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<!-- Basic parameters -->
		<arg name="veh" value="$(arg veh)"/>
		<arg name="param_file_name" default="default" />
		<arg name="visualization" value="true" />

		<!-- Basic functionalities -->
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="true" />
		<arg name="/camera/raw" value="true"/>
		<arg name="/camera/raw/rect" value="true"/>
		<arg name="LED" value="false"/>
		<arg name="/LED/detector" value="false"/>

		<!-- Intersection arguments -->
		<arg name="unicorn_intersection" value="false"/>
		<arg name="apriltags" value="false" />
		<arg name="apriltags_random" value="false" />
		<arg name="intersectionType" value="trafficLight"/>

		<!-- Multi-bot behaviours -->
		<arg name="coordination" value="true"/>
		<arg name="/coordination/implicit_coordination" value="false"/>
		<arg name="/coordination/explicit_coordination" value="true"/>
<!--
		<arg name="vehicle_avoidance" default="false"/>
		<arg name="/vehicle_avoidance/detection" default="false" />
		<arg name="/vehicle_avoidance/multivehicle_detection" default="false" />
		<arg name="/vehicle_avoidance/filter" default="false" />
		<arg name="/vehicle_avoidance/control" default="false"/>
-->
	</include>
</launch>
