<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="fsm_file_name" default="default" />
	<arg name="param_file_name" default="default" />

	<include file="$(find fsm_mod)/launch/fsm_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="param_file_name" value="$(arg fsm_file_name)"/>
	</include>

	<include file="$(find fsm_mod)/launch/logic_gate_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="param_file_name" value="$(arg param_file_name)"/>
	</include>
</launch>
